<div>
  <div class="title">
    <p>NOVA COLEÇÃO</p>
  </div>
  <div>
    <div class="container cards d-flex flex-wrap justify-content-center">
      <div class="card" *ngFor="let product of store$ | async">
        <img src="{{product.img}}" alt="">
        <div class="dados">
          <form action="/addCart" method="post">
            <p>{{product.title}}</p>
            <p>R$ {{product.price}}</p>
            <div class="input-group mb-3">
              <select class="form-select" id="inputGroupSelect01">
                <option selected>ELECIONE UM TAMANHO</option>
                <option value="P">P</option>
                <option value="M">M</option>
                <option value="G">G</option>
                <option value="GG">GG</option>
              </select>
              <button type="submit">ADD</button>
            </div>

        </form>
        </div>

    </div>
  </div>

</div>
