img{
  width: 282px;
  height: 360px;
}

.card{
  max-width: 282px;
  margin: 22px;
}
form{
  border: none;
}
.form-select{
  border-radius: 0!important;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #707070!important;
  border-bottom: 1px solid #707070!important;
  font-size: 10px;
  /* color: #707070; */
  cursor: pointer;
  line-height: 1em;
  outline: 0;
  width: 70%;
  padding: 0.78571429em 1em;
}


button{
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 12px;
  line-height: 12px;
  display: inline-block;
  padding: 0.4rem 1rem 0.6rem;
  font-weight: 600;
  margin: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}

.title{
  text-align: center;
}

.title p{
  padding: 20px;
}
