<div>
  <div class="container mb-3 text-center mt-5">
    <h2 class="fs-2 fw-light">NOVA COLEÇÃO</h2>
  </div>
  <div>
    <div class="container cards d-flex flex-wrap justify-content-center">
      <div class="card" *ngFor="let product of store$ | async; index as i">
        <img src="{{product.img}}" alt="">
        <div class="dados">
          <form method="POST">
            <p name ="title">{{product.title}}</p>
        <input [(ngModel)]="product._id" type="hidden" name="_id">
        <input [(ngModel)]="product.quant" type="hidden" name="quant">
            <p name ="price">R$ {{product.price}}</p>
            <div class="input-group mb-3">
              <select [(ngModel)]="product.size" name="size" class="form-select" id="inputGroupSelect01" required>
                <option selected>ELECIONE UM TAMANHO</option>
                <option name="size" value="P">P</option>
                <option name="size" value="M">M</option>
                <option name="size" value="G">G</option>
                <option name="size" value="GG">GG</option>
              </select>
              <button type="submit" (click)="addProduct(product._id, product.size)">ADD</button>
            </div>

        </form>
        </div>

    </div>
  </div>
</div>
</div>
