<div class="up-nav">
  <p>ENVIO EXPRESS GRÁTIS: PARA TODO O BRASIL</p>
</div>

<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid my-3">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="col-sm d-flex">
      <div>
    <a class="navbar-brand" href="#">ECOMMERCE</a>
  </div>
  <div class="category mx-5">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">OBSESSED</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">FEMININO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">MASCULINO</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ESTAÇÃO
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link ">SALE</a>
        </li>
      </ul>
    </div>
  </div>
  </div>
    <div class="col-sm this">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <i class="bi bi-search"></i>
      </form>
    </div>
    <div class="col-sm icons">
      <i class="bi bi-person"></i>
     <button type="button" id="btn-cart" matTooltip="Meu carrinho" (click)="openCart()" >
       <i class="bi bi-cart3"></i>
       <div class="badge bg-danger">{{totalItems}}</div>
      </button>
    </div>
</div>
</nav>

